# 需要先安装pytorch2.0
peft
transformers
datasets
tqdm
loguru
fire
bitsandbytes
wandb
cpm_kernels
accelerate
sentencepiece
tiktoken
einops
scipy
transformers_stream_generator
flash-attn==1.0.5 #其他版本会报错 先安装这个版本